<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HISAKA</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/hisaka-header-footer.css" asp-append-version="true" />
</head>

<body>
<header>
    <div class="hisaka-header-top">
        <div class="container d-flex align-items-center justify-content-between py-2 flex-nowrap">
            <a asp-controller="Home" asp-action="Index" class="logo-brand d-flex align-items-center text-decoration-none me-3">
                <img src="/images/logo.png" alt="HISAKA Logo" class="me-2" style="height: 80px;">
            </a>

            <div class="search-bar position-relative me-3">
                <input type="text" class="form-control rounded-pill ps-4 pe-5 py-2" placeholder="Tìm sản phẩm, thương hiệu bạn mong muốn...">
                <i class='bx bx-search search-icon position-absolute top-50 translate-middle-y end-0 me-3 fs-5 text-muted'></i>
            </div>

            <div class="header-actions d-flex align-items-center flex-nowrap">
                <a asp-controller="Account" asp-action="Login" class="text-white text-decoration-none d-flex align-items-center me-4">
                    <i class='bx bx-user fs-4'></i><span class="ms-2">Đăng nhập / Đăng ký</span>
                </a>
                <a asp-controller="Product" asp-action="List" class="text-white text-decoration-none d-flex align-items-center me-4">
                    <i class='bx bx-package fs-4'></i><span class="ms-2">Sản phẩm</span>
                </a>
                <a href="#" class="text-white text-decoration-none d-flex align-items-center me-4">
                    <i class='bx bx-phone fs-4'></i><span class="ms-2">Hỗ trợ khách hàng</span>
                </a>
                <a asp-controller="ShoppingCart" asp-action="Index" class="text-white text-decoration-none d-flex align-items-center">
                    <i class='bx bx-cart fs-4'></i>
                </a>
            </div>
        </div>
    </div>
</header>


    <div class="container py-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="hisaka-footer text-white py-4 mt-auto" style="background-color: #d97575;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5 class="fw-bold mb-3">HỖ TRỢ KHÁCH HÀNG</h5>
                <ul class="list-unstyled">
                    <li>Hotline: 1900 6035 (miễn phí, 08-22h kể cả T7, CN)</li>
                    <li><a href="#" class="text-white text-decoration-none">Gửi yêu cầu hỗ trợ</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Tra cứu đơn hàng</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Phương thức vận chuyển</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Chính sách đổi trả</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="fw-bold mb-3">VỀ HISAKA</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Giới thiệu Hisaka.vn</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Tuyển Dụng</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Chính sách bảo mật</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Điều khoản sử dụng</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="fw-bold mb-3">HỢP TÁC & LIÊN KẾT</h5>
                <p class="mb-1"><a href="https://hisaka.vn/clinic" class="text-white text-decoration-none">Hisaka Clinic</a></p>
                <p>Hisaka Cẩm Nang</p>
                <h5 class="fw-bold mt-4 mb-3">THANH TOÁN</h5>
                <div class="d-flex gap-2">
                    <img src="~/images/visa.png" alt="Visa" style="height: 25px; background-color: white; padding: 2px; border-radius: 3px;">
                    <img src="~/images/mastercard.png" alt="MasterCard" style="height: 25px; background-color: white; padding: 2px; border-radius: 3px;">
                    <img src="~/images/jcb.png" alt="JCB" style="height: 25px; background-color: white; padding: 2px; border-radius: 3px;">
                </div>
            </div>
            <div class="col-md-3">
                <h5 class="fw-bold mb-3">CẬP NHẬT THÔNG TIN KHUYẾN MÃI</h5>
                <div class="input-group mb-3">
                    <input type="email" class="form-control rounded-pill-start" placeholder="email của bạn">
                    <button class="btn btn-warning rounded-pill-end" type="button">Đăng ký</button>
                </div>
            </div>
        </div>
        <div class="text-center mt-4 border-top pt-3" style="border-color: rgba(255,255,255,0.2) !important;">
            &copy; @DateTime.Now.Year - HISAKA - All Rights Reserved
        </div>
    </div>
</footer>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
